h1 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 18px;
}
img {
	border:0;
}
a {
	text-decoration: none;
}
a:link {
	color:#36a;
}
a:visited  {
	color:#47a;
}
a:active, a:hover {
	color:#69c;
}

ul {
	margin: 0 0 5px 10px;
	padding: 0;
}

li {
	margin: 0;
	padding: 1px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	white-space:nowrap;
	list-style:none;
}

table {
	padding: 0;
	margin: 0;
	border: solid 1px #000000;
	background-color: #f0f0f0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
}
th {
	padding: 2px;
	margin: 0;
	border: solid 0px #000000;
	min-height: 18px;
	min-width: 18px;
	color: #444444
}

td {
	padding: 2px;
	margin: 0;
	border: solid 0px #000000;
	min-height: 18px;
	min-width: 18px;
	color: #444444
}

.cycle {
	color: red;
}

#first-row {
	height: 170px;
	text-align: left;
	vertical-align: bottom;
}

.packageName_rows {
	color: black;
	background-color: #ddd;
	text-align: left;
	font-weight: bold;
	border: 0px;
	border-top: solid 1px #000000;
	border-right:solid 1px #000000;
	white-space: nowrap;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
}

tr th {
	color: black;
	background-color: #ddd;
	border-left:solid 1px #ffffff;
	border-bottom:solid 1px #ffffff;
	font-weight: bold;
}

tr td {
	color: black;
	background-color: #ddd;
	border-left:solid 1px #ffffff;
	border-bottom:solid 1px #ffffff;
	font-weight: bold;
	text-align: center;
}

.packageNumber_rows {
	color: black;
	background-color: #bbd;
	text-align: center;
	font-weight: bold;
	border: 0px;
	border-top: solid 1px #000000;
	border-right: solid 1px #000000;
}

.packageName_cols {
	color: black;
	background-color: #bbd;
	text-align: center;
	font-weight: bold;
	border: 0px;
	border-left:solid 1px #000000;
	border-bottom:solid 1px #000000;
}

.vertical_text {
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	display: inline-block;
	padding-bottom: 5px;
	width: 20px;
}





