h1 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 18px;
}
img {
	border:0;
}
a {
	text-decoration: none;
}
a:link {
	color:#36a;
}
a:visited  {
	color:#47a;
}
a:active, a:hover {
	color:#69c;
}

ul {
	margin: 0 0 5px 10px;
	padding: 0;
}

li {
	margin: 0;
	padding: 1px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	white-space:nowrap;
	list-style:none;
}

table {
	padding: 0;
	margin: 0;
	border: solid 1px #000000;
	background-color: #f0f0f0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
}
td {
	padding: 2px;
	margin: 0;
	border: solid 0px #000000;
	min-height: 18px;
	min-width: 18px;
}

.packageName_rows {
	color: black;
	background-color: #ddd;
	text-align: left;
	font-weight: bold;
	border-top: solid 1px #000000;
	border-right:solid 1px #000000;
	white-space: nowrap;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
}

.packageNumber_rows {
	color: black;
	background-color: #bbd;
	text-align: center;
	font-weight: bold;
	border-top: solid 1px #000000;
	border-right: solid 1px #000000;
}

.packageName_cols {
	color: black;
	background-color: #bbd;
	text-align: center;
	font-weight: bold;
	border-left:solid 1px #000000;
	border-bottom:solid 1px #000000;
}

.element_1 {
	color: black;
	background-color: #ddd;
	border-left:solid 1px #ffffff;
	border-bottom:solid 1px #ffffff;
	font-weight: bold;
	text-align: center;
}

/*.element_1:hover {
	color: black;
	background-color: #ddd;
	border:solid 1px #000000;
	font-weight: bold;
	min-height: 16px;
	min-width: 16px;
}*/




